.navContainer {
    background: #00878a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.NavbarItems {
    background: #00878a;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 95%;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.navbar-logo img {
    height: 4rem;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 5px;
    list-style: none;
    text-align: center;
    width: 95vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.nav-links:hover {
    background-color: white;
    color: orange;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: orange;
    border-radius: 0.5rem;
}

.nav-links-mobile:hover {
    background-color: #fff;
    color: #cb6223;
}

.menu-icon {
    display: none;
}

@media (max-width: 1024px) and (min-width: 200px) {
    .NavbarItems {
        position: fixed;
        width: 100%;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 2;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #00878a;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 3;
        border-bottom: 1px solid #fff;
    }

    .nav-links {
        text-align: center;
        padding: 1.5rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: white;
        color: orange;
    }

    .navbar-logo {
        position: absolute;
        align-items: center;
        left: 3%;
    }

    .menu-icon {
        display: block;
        position: relative;
        top: -15px;
        right: -45%;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2.2rem auto;
        border-radius: 4px;
        width: 80%;
        background: orange;
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .nav-links-mobile:hover {
        background: white;
        color: orange;
        transition: 250ms;
    }

    .logo img {
        height: 3rem;
    }

    .mobileSignout {
        display: block;
    }
}

@media (max-width: 9999px) and (min-width: 1680px) {
    .nav-menu {
        grid-template-columns: repeat(7, auto);
        justify-content: flex-end;
        grid-gap: 30px;
    }

    .nav-menu-system {
        grid-template-columns: repeat(6, auto);
        justify-content: flex-end;
        grid-gap: 30px;
    }
}
